@import "../../../../styles/index.scss";

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3rem;
  border-radius: 2rem;
  background-color: $gray-3;
  border: 0.2rem solid $white;
  min-width: 30rem;
  @include bp($large) {
    min-width: 50rem;
  }
  .form-content {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .message {
      color: red;
    }
    input {
      width: 100%;
    }
  }
  button {
    margin-top: 1.2rem;
    padding: 0.5rem;
    border: solid 2px $green-1;
    background-color: $green-4;
    border-radius: 2rem;
    color: inherit;
    cursor: pointer;
    min-width: 12rem;
    &:hover {
      background-color: $green-3;
      opacity: 0.9;
    }
  }
  .save-button:disabled {
    border: solid 2px $orange-1;
    background-color: $orange-3;
  }
}
