@import "../../../../styles/index.scss";

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 2rem;
  background-color: $gray-3;
  border: 0.2rem solid $white;
  margin-bottom: 2rem;
  @include bp($med) {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .form-content {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include bp($med) {
      align-items: center;
    }
    .message {
      color: red;
    }
  }
  button {
    margin-top: 1.2rem;
    padding: 0.5rem;
    border: solid 2px $green-1;
    background-color: $green-4;
    border-radius: 2rem;
    color: inherit;
    cursor: pointer;
    min-width: 12rem;
    &:hover {
      background-color: $green-3;
      opacity: 0.9;
    }
  }
}
