$orange-1: #eb782e;
$orange-2: #ec8f53;
$orange-3: #f4a87c;
$orange-4: #f0c8ae;

$green-1: #00c767;
$green-2: #2ccf81;
$green-3: #6edca8;
$green-4: #c7e3d3;

$blue-1: #1853e6;
$blue-2: #366ae9;
$blue-3: #95b0ed;
$blue-4: #d2dcf3;

$gray-1: #eff1f3;
$gray-2: #f3f5f6;
$gray-3: #f8f9fa;
$gray-4: #fbfbfc;
$gray-5: #fefefe;
$white: #ffffff;
