$small: 400px;
$med: 600px;
$large: 800px;
$xlarge: 1200px;

@mixin bp($point) {
  @if $point == med {
    @media screen and (min-width: $med) {
      @content;
    }
  } @else if $point == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else {
    @media screen and (min-width: $point) {
      @content;
    }
  }
}
