@import "../../../../styles/index.scss";

.new-estimate {
  display: flex;
  justify-content: center;
  & > h1 {
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

.estimate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include bp($med) {
    flex-direction: row;
  }

  .cost-items-container {
  }
}
