@import "../../../../styles/index.scss";
.template-wrapper {
  background-color: $gray-1;
  background-size: auto;
  .template-container {
    backdrop-filter: blur(5px);
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
  }
}
