@import "../../../../styles/index.scss";
.template-wrapper {
  background-color: $gray-1;
  height: 100vh;
  .template-container {
    min-width: 1200px;
    margin: auto;
    @include bp($large) {
      max-width: 800px;
    }
    @include bp($xlarge) {
      max-width: 1200px;
    }
  }
}
